header {
  /* width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #1d131a; */
}
.logo {
  width: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
  height: 60px;
}
.Header_links {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.Header_links ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  margin: 0;
}
.Header_links ul li {
  list-style: none;
  margin-left: 25px;
}
.Header_links ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: Work Sans;
}
.Header_button {
  margin-left: 20px;
}
.Header_button a {
  font-family: Work Sans;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 18px;

  color: black;
  text-decoration: none;
  background: linear-gradient(180deg, #9347b2 12%, #ffffff 100%);
}
.Header_button a i {
  margin-right: 5px;
}
.Social_links {
  width: 37px;
  height: 37px;
  display: flex;
  gap: 20px;
  align-items: center;
  border: #009EFF;


border-radius: 14px;
  margin: 12px;
}
.Social_links a {
  padding: 10px;
  border-radius: 50%;
  /* background: linear-gradient(91.03deg, rgba(255, 254, 254, 0.23) -47.11%, rgba(255, 254, 254, 0.23) 110.32%);
backdrop-filter: blur(30px); */
  
}
.Social_links a i {
  font-size: 25px;
  
}

.social_f a{
  width: 50px;
  height: 50px;
  background: rgba(45, 48, 61, 0.2);
box-shadow: inset 0px -5px 12px rgba(11, 130, 203, 0.35), inset 0px 2px 4px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 50%;
}
.social_f a i {
  font-size: 30px;
}
.facebook{
  color:  #009EFF;
}
.social_g a{
  width: 50px;
  height: 50px;
  background: rgba(45, 48, 61, 0.2);
box-shadow: inset 0px -5px 12px rgba(100, 0, 248, 0.35), inset 0px 2px 4px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 50%;
}
.social_g a i {
  font-size: 30px;
}
.social_i a{
  width: 50px;
  height: 50px;
  background: rgba(45, 48, 61, 0.2);
  box-shadow: inset 0px -5px 12px rgba(0, 194, 255, 0.35), inset 0px 2px 4px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 50%;
}
.social_i a i{
  font-size: 30px;
}
.twitter{
  
  color: #00FAFA;
}
.instagram{
 color: #00F0FF;
}
.cat{
  color: #C049DD;
}
.Social_links p {
  left: calc(50% - 40px/2 - 111px);
top: calc(50% - 17px/2 - 4497.55px);

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;
margin-top: 20px;

}
.toggle {
  height: 40px;
  width: 50px;
  border: 2px black;
  background-color: yellow;
  position: absolute;
  right: 20px;
  top: 10px;
  overflow: hidden;
  display: block;
  z-index: 2;
}

.toggle span {
  height: 3px;
  width: 40px;
  background-color: rgb(15, 15, 14);
  position: absolute;
  top: 20px;
  left: 5px;
  transition: 0.3s;
}

.toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 30px;
}

.toggle span:nth-child(2) {
  transform: translateY(10px);
  width: 20px;
}

.toggle.active span:nth-child(3) {
  transform: translateX(50px);
}

.toggle.active span:nth-child(1) {
  transform: translateX(0px) rotate(45deg);
  width: 40px;
}

.toggle.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 40px;
}
/*  End */
/*  toggle-links for responsive screen */

@media screen and (max-width: 926px) {
  header {
    height: auto;
    flex-direction: column;
    padding: 50px;
    display: none;
  }
  .logo {
    width: 100%;
  }

  .Header_links {
    margin-top: 30px;
    width: 100%;
    justify-content: center !important;
  }
  .Header_links ul {
    flex-direction: column;
  }
  .Header_links ul li {
    margin-top: 20px;
  }
  .Header_links ul li a {
    font-size: 30px;
  }
  .Header_button {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* .Social_links {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
  } */
  /* .Social_links a {
    margin-left: 30px;
  } */
}

.button{
  width: 120px;
  height: 45px;
  border: none;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;

}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  min-width: fixed;
  background-image: url(./new1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: center;
}
.icon-div{
  width: 478px;
  height: 73px;
left: 612px;
margin-bottom: 120px;

background: linear-gradient(91.03deg, rgba(255, 254, 254, 0.23) -47.11%, rgba(255, 254, 254, 0.23) 110.32%);
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 85px;
}
section h1 {
  font-size: 70px;
  font-weight: 700;
  color: #f3e9c3;
  font-family: sans-serif;
  margin: 0;
}
section p {
  color: white;
  font-size: 25px;
  font-family: cursive;
  text-align: center;
}
section a {
  text-decoration: none;
  padding: 10px 40px;
  font-size: 20px;
  background: #FAB340;
  color: black;
  border-radius: 50px;
  font-family: Work Sans;
}
/* .Social_links a i{
  color: linear-gradient(180deg, #C049DD 0%, #6400F8 100%);
} */
@media screen and (max-width: 900px) {
  section h1 {
    font-size: 8vw;
  }
  section p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 688px) {
  section h1 {
    font-size: 6vw;
  }
  section p {
    font-size: 3vw;
  }
}
.advantage{
  background: #19171F
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.About_us {
  padding: 80px 0px;
  width: 100%;
  height: auto;

  background-color: #1d121a !important;
}
.About_L {
  padding: 0px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(image\ 13.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  background-origin: center;
  position: relative;
}
.About_R {
  width: 55%;
  height: 100%;
  position: relative;
}
.A_text h1 {
  color: #f3e9c3;
  display: inline-block;
  font-size: 40px;
  padding: 0px 0px 20px 0px;
  border-bottom: 6px solid #b14286;
  margin: 0;
}
.A_text p {
  color: white;
  font-size: 20px;
  line-height: 50px;
}

.L_Top {
  position: absolute;
  background-image: url(AT.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: center;
  height: 250px;
  width: 300px;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 10px;
  border: 1px solid #f3e9c3;
  margin-right: 150px;
  top: 10px;
}

.L_Middle {
  position: absolute;
  background-image: url(2b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: center;
  height: 250px;
  width: 300px;
  margin-right: 120px;
  border-radius: 10px;
  border: 1px solid #f3e9c3;
  margin-top: 30px;
}

.L_Bottom {
  background-image: url(Am.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: center;
  height: 250px;
  width: 300px;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 10px;
  border: 1px solid #f3e9c3;
  margin-top: 400px;
  margin-right: 130px;
}
.A_Links {
  margin-top: 40px;
}
.A_Links a {
  padding: 12px 10px 10px 10px;
  background: linear-gradient(180deg, #89689c 12%, #f8ce54 100%);
  border-radius: 50%;
  margin-right: 20px;
}
.A_Links a i {
  font-size: 25px;
  color: #f3e9c3;
}
.A_button {
  margin-top: 50px;
}
.A_button a {
  padding: 15px 50px;
  color: black;
  text-decoration: none;
  background: #FAB340;
  font-family: Work Sans;
  border-radius: 50px;
  font-size: 25px;
  border: none;
}
.Dotted_1 {
  background-image: url(image\ 7.png);
  height: 80px;
  width: 80px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 9%;
}
.Dotted_2 {
  background-image: url(image\ 7.png);
  height: 80px;
  width: 80px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
  left: 9%;
}
.Dotted_3 {
  background-image: url(image\ 7.png);
  height: 80px;
  width: 80px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 40px;
  right: 60px;
}
@media screen and (max-width: 1050px) {
  .About_us {
    flex-direction: column !important;
  }
  .About_L {
    width: 80%;
    display: flex !important;
  }
  .About_R {
    width: 90%;
    align-self: center;
    justify-self: center !important;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .L_Top,
  .L_Middle,
  .L_Bottom {
    justify-self: center !important;
    align-self: center !important;
  }
  .L_Middle {
    margin-left: 45vw;
  }
  .Dotted_3 {
    right: 10px;
  }
}
@media screen and (max-width: 650px) {
  .L_Top,
  .L_Middle,
  .L_Bottom {
    height: 200px;
    width: 250px;
  }
  .About_L {
    padding: 0px;
  }
}
@media screen and (max-width: 500px) {
  .L_Middle {
    margin-left: 5vw;
  }
  .Dotted_1 {
    top: -60px;
    height: 60px;
    width: 60px;
  }
  .Dotted_2 {
    right: 10px;
    bottom: -60px;
    height: 60px;
    width: 60px;
  }
  .Dotted_3 {
    height: 60px;
    width: 60px;
  }
  .A_button a {
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    background: #FAB340;
    font-family: Work Sans;
    border-radius: 50px;
    font-size: 20px;
  }
  .About_L {
    padding: 0px;
    width: 100%;
  }
  .dot_3 {
    margin-left: 0px !important;
    margin-top: 50px;
  }
  .AVR_L h1 {
    font-size: 36px !important;
    line-height: 54px !important;
    padding: 3px !important;
  }
  .F_textt {
    margin-left: 0px !important;
    padding: 25px !important;
  }
}
.ETP {
  width: 100%;
  height: auto !important;
  background-color: #1d121a;
}
.ETP_text h1 {
  font-size: 40px;
  position: relative;
  color: #f3e9c3;
  
  
}
.ETP_text h1::after {
  background-color: #9347b2;
  content: " ";
  display: flex;
  width: 35%;
  height: 6px;
  align-self: center;
  justify-self: center;
  left: 420px;
  top: 70px;
  position: absolute;
}

@media screen and (max-width: 550px) {
  .ETP_text h1 {
    font-size: 6vw;
  }
  .ETP_text h1::after {
    background-color: #9347b2;
    content: " ";
    display: flex;
    width: 50%;
    height: 6px;
    align-self: center;
    justify-self: center;
    left: 20%;
    top: 10vw;
    position: absolute;
  }
}
.ETP_video {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.ETP_video .Video {
  height: 45vw;
  width: 70%;
  border-radius: 10px;
  background-image: url(511.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 20px solid black;
  outline: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  /* background-color: grey;
height: 10vw;
width: 10vw;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center; */
}
.icon {
  /* height: 4vw;
  width: 4vw;
  background-image: url(vector1.png);
  background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 cursor: pointer; */
}

.video {
  width: 100% !important;
  height: 776px !important;
}
.ETP_icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.star {
  height: 63px;
  width: 63px;
  background-image: url(vector2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Card-Sections {
  height: auto;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #1d121a;
  padding: 90px 0px;
}
.Card-Sections .L_C,
.Card-Sections .R_C {
  width: 35% !important;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
}
.Card {
  height: auto;
  width: 45% !important;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 30px 10px;
  border: 2px solid #f3e9c3;
  border-radius: 10px;
}
.Card {
  color: white;
}
.Card h5 {
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.Card p {
  text-align: center;
  font-size: 18px;
}
.Card a {
  padding: 8px 20px;
  text-decoration: none;
  background: linear-gradient(180deg, #9347b2 12%, #ffffff 100%);
  font-family: Work Sans;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 20px;
  color: black;
}
.M_Card {
  padding: 15px;
  background-color: black;
  border: 2px solid #f3e9c3;
  margin-top: -50px;
  z-index: 11;
  border-radius: 10px;
}
.C_icon1 {
  background-image: url(v1.png);
  height: 55px;
  width: 60px;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.C_icon2 {
  background-image: url(v2.png);
  height: 50px;
  width: 50px;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.C_icon3 {
  background-image: url(v3.png);
  height: 50px;
  width: 50px;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.C_icon4 {
  background-image: url(v4.png);
  height: 50px;
  width: 50px;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.C_button {
  margin: 20px 0px;
  background-color: #FAB340;
}
@media screen and (max-width: 1000px) {
  .Card-Sections {
    flex-direction: column;
    width: 100%;
  }
  .Card-Sections .L_C,
  .Card-Sections .R_C {
    width: 100% !important;
    justify-content: space-evenly;
    margin-top: 80px;
  }
  .Card {
    width: 40% !important;
  }
}
@media screen and (max-width: 560px) {
  .Card-Sections .L_C,
  .Card-Sections .R_C {
    flex-direction: column;
    width: 100% !important;
    margin-top: 0px;
  }
  .Card {
    width: 75% !important;
    margin-top: 60px;
  }
}
.M_NFT {
  height: auto;
  padding: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bggg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.NFT_S {
  height: auto;
  width: 60%;
  padding: 80px 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.NFT_t {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.NFT_t h1 {
  color: white;
  width: 100%;
  text-align: center !important;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 30px;
  /* or 250% */

  color: #f5fbf2;
}
.NFT_t p {
  width: 673px;
  color: white;
  text-align: center !important;
  font-size: 24px;
  line-height: 35.45px;
  font-style: normal;
  font-family: Xanh Mono;
  font-weight: 400;
}
.NFT_m {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pstar {
  height: 30px;
  width: 30px;
  background-image: url(star3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
}
.NFT_m {
  display: flex;
  padding: 30px;
  width: 100%;
}
.ptext h1 {
  color: #f3e9c3;
  margin: 0;
}
.ptext {
  padding: 0px 30px;
}
.NFT_b {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NFT_b a {
  padding: 10px;
  background: linear-gradient(180deg, #9347b2 12%, #ffffff 100%);
  border-radius: 50%;
  margin-left: 20px;
}
.NFT_b a i {
  font-size: 22px;
  color: black;
}
@media screen and (max-width: 843px) {
  .NFT_S {
    width: 80%;
    padding: 50px 50px !important;
  }
}
@media screen and (max-width: 632px) {
  .NFT_S {
    width: 100%;
    padding: 20px 10px !important;
  }
  /* .ptext h1{
    color: #f3e9c3;
    font-size: 25px;
    margin: 0;
    } */
  .ptext {
    padding: 0px 15px;
  }
  .NFT_b {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NFT_b a {
    padding: 8px;
    background: linear-gradient(180deg, #9347b2 12%, #ffffff 100%);
    border-radius: 50%;
    margin-left: 20px;
  }
  .NFT_b a i {
    font-size: 18px;
    color: black;
  }
  .NFT_t h1 {
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center !important;
  }
  .NFT_t p {
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
  .pstar {
    height: 20px;
    width: 20px;
    background-image: url(star3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 632px) {
  .ptext h1 {
    color: #f3e9c3;
    font-size: 18px !important;
    margin: 0;
  }
  .pstar {
    height: 15px;
    width: 15px;
  }
}
@media screen and (max-width: 400px) {
  .NFT_t h1 {
    color: white;
    width: 100%;
    text-align: center !important;
    font-size: 20px;
  }
}
footer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d121a;
  padding: 30px 0px;
}
.footer_1 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_1 ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.footer_1 h1,
.footer_2 h1,
.footer_3 h1 {
  color: white;
  width: 100%;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
.footer_1 ul li,
.footer_1 ul li {
  list-style-type: none;
  margin-top: 10px;
}
.footer_1 ul li a,
.footer_1 ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
}
.footer_2,
.footer_3 {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.F_logo {
  height: 94px;
  width: 94px;
  background-image: url(logo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.F_textt {
  margin-left: 250px;
}
.F_textt p {
  color: white;
  font-size: 20px;
  line-height: 35.45px;
  font-style: normal;
  font-family: Xanh Mono;
  font-weight: 400;
}
.F_iconss {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  margin-left: 10px;
}
.F_iconss a {
  padding: 8px;
  background: linear-gradient(180deg, #9347b2 12%, #ffffff 100%);
  border-radius: 50%;
  margin-left: 20px;
}
.F_iconss a i {
  font-size: 22px;
  color: black;
}
.footer-lasts {
  background-color: #1d121a;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-lasts p {
  color: #f3e9c3;
}
@media screen and (max-width: 500px) {
  .video {
    height: 400px !important;
    padding: 0px !important;
  }
  .NFT_t p {
    width: 100% !important;
  }
  .img2 {
    width: 267px !important;
    height: 378.77px !important;
    margin-top: 36px !important;
    margin-left: 0px !important;
  }
  
  .img {
  }
  footer {
    flex-direction: column;
  }
  .footer_1 {
    width: 100%;
    margin-top: 30px;
  }
}
.Road_M {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000 !important;
  flex-direction: column;
  padding: 100px 0px;
}
.Road_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.Road_text h1 {
  color: white;

  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 130px;
  border-bottom: 6px solid #9347b2;
  display: inline-block;
  font-size: 40px;
}
.R_1 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 210px;
}
.R_2 {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  justify-self: flex-end;
  box-sizing: border-box;
  margin-top: 180px;
}
.R_3 {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 10px;
}
.R_4 {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 180px;
}

.Phase {
  width: 400px;
  border: 1px solid #f3e9c3;
  padding: 10px 10px 30px 10px;
  color: white;

  background-color: #32302d;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: -10px;
  margin-left: -8px !important;
}
.mPhase {
  width: 410px;
  border: 1px solid #f3e9c3;
  background-color: #32302d;
  border-radius: 10px;
  padding-right: 40px;
}
.AVR {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: start;
  height: 74vh;
  width: 100%;
  min-width: fixed;
  background-image: url(./AT.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: center;
  
}
@media screen and (max-width: 768px) {
  .AVR{
    height: auto;
  }
}
.AVR_L {
  padding: 30px;
}
.AVR_L h1 {
  font-family: Oxanium;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 76px;
  /* or 131% */

  text-transform: uppercase;

  color: #f5ffef;
  padding: 10px;
  border-bottom: 10px solid #9347b2;
  display: inline-block;
}
.AVR_L p {
  color: white;
  font-size: 20px;
  line-height: 35.45px;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  font-family: Xanh Mono;
}
.AVR_R {
}
.img1 {
  width: 220px;
  height: 295.16px;
  margin-top: 30px;
}
.img2 {
  width: 300px;
  height: 378.77px;
}

 @media screen and (max-width: 768px) {
   .img2{
    width: 220px;
    height: 295.16px;
   }
 }
.RM1 {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  flex-direction: column;
}
.RM2 {
  width: 200px;
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(WhatsApp\ Image\ 2022-03-05\ at\ 11.44.59\ AM.jpeg);
  background-position: center center;
  background-size: cover;
  background-origin: center;
  height: 670px;
}
.RM3 {
  width: 500px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-direction: column;
}

.R_main {
  width: 100%;
  display: flex;
  height: auto;
  background-color: #000000 !important;
}
@media screen and (max-width: 1060px) {
  .Road_M {
    height: auto;
  }
  .R_main {
    flex-direction: column !important;
    height: auto;
  }
  .RM2 {
    display: none;
  }
  .RM1 {
    width: 100%;
  }
  .RM3 {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .R_1 {
    display: flex;
    width: 90%;
    justify-content: center !important;
    align-items: center !important;
    justify-self: center;
    margin: 0px;
    align-self: center;
    justify-self: center;
    margin-top: 30px;
  }
  .R_2 {
    display: flex;
    width: 90%;
    margin: 0px;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
    justify-self: center;
    margin-top: 30px;
  }
  .R_3 {
    display: flex;
    width: 90%;
    justify-content: center !important;
    align-items: center !important;
    margin: 0px;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
  }
  .R_4 {
    display: flex;
    width: 90%;
    justify-content: center !important;
    align-items: center !important;
    margin: 0px;
    align-self: center;
    justify-self: center;
    margin-top: 30px;
  }
}

.dot_3 {
  margin-left: 60px;
  margin-top: 50px;
}
@media screen and (max-width: 1060px) {
  .Phase {
    width: 280px;
    border: 1px solid #f3e9c3;
    padding: 10px 10px 30px 10px;
    color: white;

    background-color: #32302d;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
  }
  .mPhase {
    width: 280px;
    border: 1px solid #f3e9c3;
    background-color: #32302d;
    border-radius: 10px;
    padding-right: 40px;
  }
}
.token{
font-family: Podkova;
font-style: normal;
font-weight: bold;
font-size: 58px;
line-height: 76px;
/* or 131% */

text-align: center;
text-transform: uppercase;

color: #F5FBF2;
}
.token_p{
  

  height: 100px;
  font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 49px;
/* or 223% */

text-align: center;

color: #FFFFFF;
}
.total_supply{
width: 200px;
height: 200px;
border-radius: 50%;
background: #FAB340;
border: 3px solid #FFFFFF;
box-sizing: border-box;

}
@media only screen and (min-width: 900px){
   .total_supply{
    margin-top: -20px;
   }
}
@media only screen and (min-width: 768px){
   .total_supply{
    
   }
}
/* @media only screen and(max-width: 768px) {
  .total_supply{
   
    margin: 20px

  }
  .total_h4{
    font-weight: 300;
  }
} */
.total_h4{
  font-family: Podkova;
font-style: normal;
font-weight: 600;
margin-top: 60px;
/* line-height: 126px; */
/* or 200% */

text-transform: uppercase;

color: #000000;
}
.total_p{
  font-family: Podkova;
font-style: normal;
font-weight: 400;
font-size: 20px;
margin-top: -20px;
/* or 238% */

text-transform: uppercase;

color: #000000;
}
@media screen and (max-width: 768px) {
  .token{
    font-size: 38px;
    line-height: 50px;
  }
  .token_p{
  
  text-align: center;
  height: 20px;
  font-size: 10px;
  line-height: 22px;
  margin-left: 30px;
  }
  
  .token_div{
    padding: 60px;
  }
  
}
.private_h5{
  font-family: Podkova;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
/* or 121% */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.private{
width: 236px;
height: 100px;
background: linear-gradient(0deg, #0E0D0D, #0E0D0D), #FFFFFF;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 7px;
}
.middle_s{
  margin-bottom: 20px !important;
}
.roted{
  position: absolute;
width: 170px;
height: 0px;
left: 865px;
top: 2950px;

border: 2px solid #FAB340;
box-sizing: border-box;
transform: rotate(-90deg);
}
.roted_d{
position: absolute;
width: 16px;
height: 16px;
left: 942px;
top: 2855px;
border-radius: 50%;
background: #FFE1B1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.roted_bottom {
  position: absolute;
width: 180.03px;
height: 0px;
left: 863px;
top: 3255px;

border: 2px solid #FAB340;
box-sizing: border-box;
transform: rotate(90deg);
}
.roted_bottom_d{
position: absolute;
width: 16px;
height: 16px;
left: 945px;
top: 3345px;
border-radius: 50%;
background: #FFE1B1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top_middle{
  
position: absolute;
width: 150.65px;
height: 0px;
left: 710px;
top: 3040px;

border: 2px solid #FAB340;
box-sizing: border-box;
transform: rotate(-155.45deg);
}
.top_middle_d{
  position: absolute;
width: 16px;
height: 16px;
left: 708px;
top: 3000px;
border-radius: 50%;
background: #FFE1B1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top_middle_end{
position: absolute;
width: 160.65px;
height: 0px;
left: 1030px;
top: 3030px;

border: 2px solid #FAB340;
box-sizing: border-box;
transform: rotate(-22.95deg);
}
.top_middleEnd_d{
  position: absolute;
width: 16px;
height: 16px;
left: 1180px;
top: 2990px;
border-radius: 50%;
background: #FFE1B1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bottom_middle_right{
  position: absolute;
  width: 210.03px;
height: 0px;
left: 705px;
top: 3180px;

border: 2px solid #FAB340;
box-sizing: border-box;
transform: rotate(149.7deg);
}
.bottom_middleRight_d{
  position: absolute;
  width: 16px;
  height: 16px;
  left: 705px;
  top: 3228px;
  border-radius: 50%;
  background: #FFE1B1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bottom_middleEnd{
position: absolute;
width: 215.71px;
height: 0px;
left: 983px;
top: 3180px;

border: 3px solid #FAB340;
box-sizing: border-box;
transform: rotate(28.16deg);
}
.bottom_middleEnd_d{
  position: absolute;
width: 16px;
height: 16px;
left: 1183px;
top: 3228px;
border-radius: 50%;
background: #FFE1B1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.token{
  background-color: #0E0D0D;
}
.follow_icons{
  margin-right: 220px;
}